html{
    box-sizing: border-box;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}

a{
    text-decoration: none;
}

ul,ol{
    list-style: none;
    padding: 0;
    margin: 0;
}

img{
    width: 100%;
    height: auto;
    margin: 0;
}

body{
    background-color: #ffffff ;
    margin: 0;
}

.container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.list{
    background-color: blue;
}